<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/placeholder.css" rel="stylesheet">
	<link href='https://css.gg/arrow-left-o.css' rel='stylesheet'>
	<link href="/css/header.css" rel="stylesheet">
</head>
<style>
.content{
	text-align: center;
	left:20%;
}
.content p{
	border-style: solid;
    background-color: #98D7C2;
    border-radius: 5px;
    text-align: center;
    border-color: #98D7C2;
}
</style>
<body>
	<div id="all_header"></div> 
    <div class="backProfile" id='APH'>
		<i class="gg-arrow-left-o"></i>
	</div>

	<div id="facebookPhoto" class="profile">
		<img id="photo" src="/images/defaultUser.png" alt="Profile image" class="profileImage" style="width:200px;height:200px;"/>
	</div>

    <div class="content">
		<h2 id="name">Anonymous atom</h2>
		<h3 style="text-align:center">LV:	0</h3>
		<p> Change Password </p>
		<p> Change Username </p>
	</div>

    <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/test.js"></script>
	<script>$("#all_header").load('header.html');</script>
</body>
</html>
