<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/placeholder.css" rel="stylesheet">
	<link href='https://css.gg/arrow-left-o.css' rel='stylesheet'>
</head>
<style>

.dropdown{
	background-color: #98D7C2;
    top: 10%;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.dropdown  li{
	display: inline-block;
	float: center;
	font-size: 20px;
  	padding: 20px;
}
.Ach{
	top:30%
}
.content{
	left:10px;
}
.content h1{
	font-size: 150%;
	max-width:100%;
	margin:20px;
	text-align: center;
}
.content h2{
	font-size: 150%;
	text-align: center;
}
.content p{
	color: white;
    border-style: solid;
    background-color: #98D7C2;
    border-radius: 5px;
    text-align: center;
    border-color: #98D7C2;

}

</style>

<body>
	
    <div class="backProfile" id='AchC'>
		<i class="gg-arrow-left-o"></i>
	</div>


	<ul class="dropdown">
  	<li><a href="http://localhost:3000/AchPH">In Progress</a></li>
	<li><a href="#">Completed</a></li>
	  
  	
	  </ul>
	  </div>
    <div class="content">
		<h2>achievements completed</h2></br>
		<p>Have 1 collection: completed</p>
	</div>
		
    <script src="../js/jquery-1.11.0.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/test.js"></script>
</body>
</html>
