<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<link href="/css/placeholder.css" rel="stylesheet">
</head>
<style>
	.account{
		color:white;
		font-size: 150%;
		 border-style: solid;
    	background-color: #98D7C2;
    	border-radius: 5px;
    	text-align: center;
    	border-color: #98D7C2;
		margin:20px;
	}
	.achievement{
		color:white;
		font-size: 150%;
		border-style: solid;
    	background-color: #98D7C2;
    	border-radius: 5px;
    	text-align: center;
    	border-color: #98D7C2;
		margin:20px;
	}
	.record{
		color:white;
		font-size: 150%;
		border-style: solid;
		background-color: #98D7C2;
		border-radius: 5px;
		text-align: center;
		border-color: #98D7C2;
		margin:20px;
	}
	.settings{
		color:white;
		font-size: 120%;
		border-style: solid;
		background-color: #98D7C2;
		border-radius: 5px;
		text-align: center;
		border-color: #98D7C2;
		margin:20px;
	}
	.logout{
		color:white;
		font-size: 150%;
		border-style: solid;
    	background-color: #98D7C2;
    	border-radius: 5px;
   		text-align: center;
    	border-color: #98D7C2;
		margin:20px;
	}

	.account:hover{
	    background-color: #29A0B1;
	}

	.achievement:hover{
	    background-color: #29A0B1;
	}

	.record:hover{
	    background-color: #29A0B1;
	}

	.settings:hover{
	    background-color: #29A0B1;
	}
	.content{
		left:10%;
		width:80%;
	}


</style>
<body>
	<div class="close" id='PPH'>
		<i class="gg-close-o"></i>
	</div>
	<center><h1>My Profile</h1></center>
	<div class="content">
		<div class="account">Account</div>
		<div class="achievement">Achievement</div>
		<div class="record">Record</div>
		<div class="settings">Help</div>
		<!-- <div class="profileGroup">Group</div> -->
		<div class="logout">Log out</div>

	</div>

	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/test.js"></script>

</body>
</html>
