<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/settings.css" rel="stylesheet">
	<link href='https://css.gg/arrow-left-o.css' rel='stylesheet'>
</head>
<style>
	.content{
		left:10%;
	}
	.content h2{
		height:120%;
		color:white;
		font-size: 100%;
		background-color: #98D7C2;
		margin: 20px;
		border-radius: 5px;
	}
	.content h3{
		height:120%;
		height:120%;
		color:white;
		font-size: 100%;
		background-color: #98D7C2;
		margin: 20px;
		border-radius: 5px;
	}
	.content h4{
		height:120%;
		color:white;
		position: relative;
		font-size: 80%;
		background-color: #98D7C2;
		margin: 20px;
		border-radius: 5px;
	}
	.content p {
		text-align:left;
		font-size: 50%;
	}
	.dropdown{
		position: relative;
		top:20%;
		font-size: 100%;
		left:15%;
	}
</style>

<body>
    <div class="backProfile" id='SPH'>
		<i class="gg-arrow-left-o"></i>
	</div>

	<!--
    <div class="content">
		<div class="dropdown">
			<span>Language</span>
			<div class="dropdown-content">
			<p>English</p>
			<p>Spanish</p>
			<p>Chinese</p>
			<p>Japanese</p>
			</div>
		</div>

		<div class="dark">
			<p>Dark Mode</p>
		</div>
	-->
	<center><h1>User Help</h1></center>
	<div class="dropdown">
			<select>
				<option value ='a'><a href = "# h2">Search for a word</a></option>
				<option value ='a'><a href = "# h3">Add to a collection</a></option>
				<option value ='a'><a href = "# h4">What should I do if I want to delete a word?</a></option>
			</select>
			</div>
		<div class="content">
			<h2>Search for a word</h2>
			<p>In the main page, enter the word you want to search</p>
			<h3>Add to a collection</h3>
			<p>In the result page of searching, select a collection and add this word to it. You can review the word in <a href = "http://localhost:3000/collections">My Collections.</a> </p>
			<h4>What should I do if I want to delete a word?</h4>
			<p>To delete a word, find that word in the collection, click in to its description page, select "delete this eord from collection"</p>
		</div>

    <script src="js/jquery-1.11.0.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/test.js"></script>
</body>
</html>
